*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    top:0;
    position:sticky;
    background-color: #fff;

}
.Logo{
    font-family: 'Segoe UI', sans-serif;
    color: rgba(150, 7, 232, 1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.Links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
}
.elemento{
    padding: 10px;
    color:rgba(150, 7, 232, 1);
}



button{
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 70px;
    height: 30px;
    font-weight: bold;
    color: rgba(150, 7, 232, 1);
    border: 2px solid rgb(165, 165, 165);
}

button:hover{
    background-color: rgba(150, 7, 232, 0.2);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: rgba(150, 7, 232, 1);
}